#productSection{
    max-width: 1300px;
}
#productSectionCarousel {
    display: flex;
    flex-direction: column;
    margin: auto;
}

#productAddToCart {
    padding: 10px;
    margin: 5px;
    font-size: 35px;
    line-height: normal;
}

#productRedirect {
    margin: 5px;
}

#productRedirect button {
    height: 100%;
}

.productSectionItem {
    width: 100%;
    max-width: 400px;
    margin: 5px auto;
    padding: 15px;
    border-radius: 5px;
    background-color: #e2e2e2;
}

.productName {
    text-wrap: nowrap;
}

.productImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.productImg {
    width: 100%;
}

.productSectionItem h5,
.productSectionItem h4 {
    color: #000;
    margin-left: 20px;
}

.productSectionButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


@media (min-width: 768px) {
    #productSectionCarouselContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: scroll;
        height: fit-content;
        margin: auto;
    }

    #productSectionCarousel {
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 0;
    }

    .productSectionItem {
        width: 250px;
        margin: 5px 10px;
        padding: 15px;
        border-radius: 5px;
        background-color: #e2e2e2;
    }
    .productImgContainer {
        height: 300px;
    }
}