main {
  width: 100vw;
  flex-grow: 2;
}
.mainText{
  color: #252525;
}
.mainButton {
  background-color: #252525;
  color: #ffff;
}

.secondaryButton {
  background-color: #6F55CE;
  color: #252525;
}

.mainButton,
.secondaryButton {
  transition: all .3s ease-in-out;
}

.mainButton:hover {
  color: #6F55CE;
  background-color: #000000;
}

.secondaryButton:hover {
  color: #ffff;
}
.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
}